<%= render 'shared/errors', obj: @user %>

<div class="row center" style="margin:5rem;">
    <div class="col-sm-offset-2 col-xs-8">
        <%= form_for(@user, :html => { class: "form-horizontal"}) do |p| %>  
        <%# '@user' is an instanse variable passed from products controller through new action%>
        <%# form_for is an rails helper method %>
        <% if current_user == @user && !@user.admin? %>  
            <div class="form-group">
                <div class="contrl-lable col-sm-2">
                    <%= p.label :username  %>
                </div>
                <div class="col-sm-10">
                    <%= p.text_field :username, class: "form-control", placeholder: "Enter username", autofocus: true %>
                </div>
            </div>
            
            <div class="form-group">
                <div class="contrl-lable col-sm-2">
                    <%= p.label :Email  %>
                </div>
                <div class="col-sm-10">
                    <%= p.email_field :email, class: "form-control", placeholder: "Enter email" %>
                </div>
            </div>
            
            <div class="form-group">
                <div class="contrl-lable col-sm-2">
                    <%= p.label :Password %>
                </div>
                <div class="col-sm-10">
                    <%= p.password_field :password, class: "form-control", placeholder: "Enter password" %>
                </div>  
            </div>
        <% end %>

        <% if current_user == @user && @user.admin? %>
            <div class="form-group">
                <div class="contrl-lable col-sm-2">
                    <%= p.label :username  %>
                </div>
                <div class="col-sm-10">
                    <%= p.text_field :username, class: "form-control", placeholder: "Enter username", autofocus: true %>
                </div>
            </div>
            
            <div class="form-group">
                <div class="contrl-lable col-sm-2">
                    <%= p.label :Email  %>
                </div>
                <div class="col-sm-10">
                    <%= p.email_field :email, class: "form-control", placeholder: "Enter email" %>
                </div>
            </div>
            
            <div class="form-group">
                <div class="contrl-lable col-sm-2">
                    <%= p.label :Password %>
                </div>
                <div class="col-sm-10">
                    <%= p.password_field :password, class: "form-control", placeholder: "Enter password" %>
                </div>  
            </div>

            <div class="form-group">
                <div class="contrl-lable col-sm-2">
                    <%= p.label :Wallet  %>
                </div>
                <div class="col-sm-10">
                    <%= p.number_field :wallet, step: :any, class: "form-control", placeholder: "Current balance",autofocus: true %>
                </div>
            </div>
        <% end %>

        <% if current_user != @user && !@user.admin?%>
            <div class="form-group">
                <div class="contrl-lable col-sm-2">
                    <%= p.label :Wallet  %>
                </div>
                <div class="col-sm-10">
                    <%= p.number_field :wallet, step: :any, class: "form-control", placeholder: "Current balance",autofocus: true %>
                </div>
            </div>
        <% end %>

        <div class="form-group center" style=" margin:4rem 0;">
            <div cass="col-sm-10">
                <%= p.submit(@user.new_record? ? "Sign Up" : "Update account", class: "btn btn-primary btn-md") %>
            </div>
            <div class="center" style="margin:2rem;">
                [ <%= link_to 'cancel and return to Product listing', products_path %> ]
            </div>
        </div>

        <% end %>
    </div>
</div>