<h1 class="center"> <%= @user.username %> </h1>

<% @user.products.each do |product|%>
    <div class="center">
        <div class="col-sm-4 details">
            <div>
                <%= link_to image_tag(product.image, style: "width:100%; border-radius:1em 1em 0em 0em;"), product_path(product) if product.image.attached? %>
            </div>
            <div>
                <small> 
                    <strong>
                        <%= product.user.username if product.user %>
                    </strong><br>
                    added for sell: <%= time_ago_in_words(product.created_at)%> ago,
                    last updated: <%= time_ago_in_words(product.updated_at) %> ago 
                    <strong>
                        <p>Visibility :<%= product.visibility%>
                    </strong>
                </small>
                <h2 class="center"><%= product.name %></h2>
                <h3><small>cost:</small><%= product.cost %> &#x20B9;</h3>
                <p>  </p> 
                
                <h3>description</h3>
                <p><%= product.description%></p>
                
                <% if logged_in? &&  current_user == @user %>
                    <%= link_to 'Edit the Details', edit_product_path(product), class:"btn btn-xs btn-primary show-btn" %>
                    <%= link_to 'Delete the product', product_path(product), method: :delete, data:{confirm: "Are you sure?"}, class:"btn btn-xs btn-danger show-btn" %>
                <% end %>
                <%= link_to 'view Details', product_path(product), class:"btn btn-xs btn-success show-btn" %>
            </div>
       </div>
    </div>
<% end%>