<h1> Listing all Product ready for sells </h1>
<p>
    <%= link_to 'Add New Product', new_product_path %>
</p>
<table>
    <tr>
        <th> Name </th>
        <th> Cost </th>
        <th> Description </th>
        <th> Age </th>
        <th> Address </th>
    </tr>
    <% @products.each do |product|%>  <%# this if for iterating through all products%>
    <tr>
        <td> <%= product.name %> </td>
        <td> <%= product.cost %> </td>
        <td> <%= product.description %> </td>
        <td> <%= product.age %> </td>
        <td> <%= product.address %> </td> 
        <td> <%= link_to 'Show', product_path(product) %> </td>
        <td> <%= link_to 'Edit', edit_product_path(product) %> </td>
        <td> <%= link_to 'Delete', product_path(product), method: :delete, data: {confirm: "Are you sure!!"} %> </td>
    </tr>
    <% end%>
</table>