<h1 class="center"> Listing all Product ready for sells </h1>

<% @products.each do |product|%>
    <div class="center">
        <div class="col-sm-4 details">
            <div>
                <%= link_to image_tag(product.image, style: "width:100%; border-radius:2em 2em 0em 0em;"), product_path(product) if product.image.attached? %>
            </div>
            <div>
                <h2 class="center"><%= product.name %></h2>
                <h3>cost</h3> 
                <p><%= product.cost %> &#x20B9;</p>
                
                <h3>description</h3>
                <p><%= product.description%></p>
                
                <%= link_to 'Edit the Details', edit_product_path(product), class:"btn btn-xs btn-primary show-btn" %>
                <%= link_to 'Delete the product', product_path(product), method: :delete, data:{confirm: "Are you sure?"}, class:"btn btn-xs btn-danger show-btn" %>
                <%= link_to 'view Details', product_path(product), class:"btn btn-xs btn-success show-btn" %>
            </div>
       </div>
    </div>
<% end%>
