<h2 class="center"><%= @product.name %></h2>
<div class="center">
    <div class="show-container">
        <div>
            <%= image_tag(@product.image, style: "width:100%; border-radius:2em 2em 0em 0em;") if @product.image.attached? %>
        </div>
        <div>
            <h3>cost</h3> 
            <p><%= @product.cost %> &#x20B9;</p>
            
            <h3>description</h3>
            <p><%= @product.description%></p>
            
            <h3>age</h3>
            <p><%= @product.age %></p>
            <hr>
            Seller Details
            <h2 class="center"><%= link_to @product.user.username, @product.user == current_user && logged_in? ? user_path(@product.user) : '#'%></h2>
            <small> 
                joined G:SHOP: <%= time_ago_in_words(@product.created_at)%> ago,
                last updated: <%= time_ago_in_words(@product.updated_at) %> ago 
            </small>
            
            
            <h3>address</h3>
            <p><%= @product.address%></p>
            
            <% if logged_in? && current_user == @product.user %>
                <%= link_to 'Edit the Details', edit_product_path, class:"btn btn-sm btn-primary show-btn" %>
                <%= link_to 'Delete the product', product_path(@product), method: :delete, data:{confirm: "Are you sure?"}, class:"btn btn-sm btn-danger show-btn" %>
            <% end %>

            <% if @product.user == current_user %>
                <%= link_to 'Back to product listing', products_path, class:"btn btn-sm btn-success show-btn" %>                
           <% else %>
                <%= link_to 'Buy Now', products_path, class:"btn btn-sm btn-success show-btn" %>
           <% end %>
        
        </div>
    </div>
</div>